<h2>Budget Page</h2>
<h3>March 2017</h3>

<div class="budgetContainer">
  <p>Rent</p>
  <p class="alignRight">1,250</p>
  <div class="progress">
    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
      1,250
    </div>
  </div>
  <p>Utilities</p>
  <p class="alignRight">75</p>
  <div class="progress">
    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
      30
    </div>
  </div>
  <p>Groceries</p>
  <p class="alignRight">200</p>
  <div class="progress">
    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
      225
    </div>
  </div>
  <p>Trips</p>
  <p class="alignRight">250</p>
  <div class="progress">
    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
      320
    </div>
  </div>
  <p>Food Out</p>
  <p class="alignRight">200</p>
  <div class="progress">
    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
      160
    </div>
  </div>
  <p>Alcohol</p>
  <p class="alignRight">150</p>
  <div class="progress">
    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
      112
    </div>
  </div>
  <p>Jeep</p>
  <p class="alignRight">200</p>
  <div class="progress">
    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
      120
    </div>
  </div>
</div>